@import "tailwindcss";

:root {
  --primary: #0D945E;       /* main green */
  --secondary: #0B7F50;     /* darker green for hover/links */
  --accent: #F2C94C;        /* gold accent for highlights if needed */
  --background: #F8FAFB;    /* soft off-white */
  --text-dark: #1F2933;     /* main text color */
  --text-muted: #4B5563;    /* description / secondary text */
}


