@import "tailwindcss";
* {
  margin: 0;
}


.read-the-docs {
  color: #888;
}



/* nav bar css  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
  background-color: var(--secondary);
}

/* text color for everything inside navbar */
.navbar,
.navbar * {
  color: var(--primary);
  text-decoration: none;
}


.logo{
  font-weight: bpld;
  font-size: 25px ;
  color: white;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;

}

.nav-links li a{
  text-decoration: none;
  color: white;
}
.container {
  padding: 40px;
  background-color: #f2f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  margin: 3rem;
}
