* {
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* nav bar css  */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 35px;
  background-color: #0A1F44;
}

.logo{
  font-weight: bpld;
  font-size: 25px ;
  color: white;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;

}

.nav-links li a{
  text-decoration: none;
  color: white;
}