.card{
    background-color: rgb(46, 61, 150);
    border-radius: 1rem;
    border: 1 px solid rgb(9, 24, 160);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}   

.button{
    padding: 0.5rem;
    background-color: rgb(201, 245, 203);
    border-radius: 1rem;

}