.footer{
    display: flex;
    padding: 20px 25px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #0A1F44;
}